certifi==2024.2.2
charset-normalizer==3.3.2
elabapi-python==5.0.2
elabapy==1.1.0
idna==3.7
numpy==1.26.4
pandas==2.2.2
progress==1.6
python-dateutil==2.9.0.post0
pytz==2024.1
requests==2.31.0
setuptools==69.5.1
six==1.16.0
tzdata==2024.1
urllib3==2.2.1
validators==0.28.1
wheel==0.43.0
